Bibliotecas:
- pandas: Transformação de dados.
- SQLAlchemy: Manipulação de banco de dados.
- python-dotenv: Gestão de variáveis de ambiente.
- psycopg2-binary: Conexão com PostgreSQL.
- yfinance: Dados financeiros do Yahoo Finance.
